<html>
<head>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <title>
    Schedule your tasks
  </title>
  <body>
    <div id="name"><%= todos.shift()%> </div>
    <div class="option" id="left"><%=dgen()%></div>
    <div class="option" id="right"><%=dgen()%></div>
  </body>
  <script type="text/javascript">
    var dgen = <%= dgen %>
    var todos = "<%= todos %>".split(",")
    $(function(){
      $(".option").click(function(){
        var date = new Date($(this).text());
        date = date.toISOString()

        var name = $("#name").text();
        $.post("/schedule", {summary: name, datetime: date} )
        .done(function(){
          $("#name").text(todos.shift());
          $("#left").text(dgen());
          $("#right").text(dgen());
        })

      })

    })
  </script>
</head>
</html>
