<html>
<head>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
  <style media="screen">
    .option{
      margin:0 0 0 0;
      width: 49%;
      height: 100%;
      display: inline-block;
    }

    #left{
      background: #d33;

    }

    #right{
      background: #3d3;
    }


  </style>
  <title>
    Schedule your tasks
  </title>
  <body>
    <a href="/todos">Back</a>
    <% if(todos.length > 0) { %>
    <div id="name"><%= todos.shift()%> </div>
    <div class="option" id="left"><%=dgen()%></div>
    <div class="option" id="right"><%=dgen()%></div>
    <% } else { %>
      <p> Add tasks first! </p>
    <% } %>
  </body>


  <!-- Load only if todos is greater than zero! -->
  <% if(todos.length > 0) { %>
  <script type="text/javascript">
    var dgen = <%= dgen %>
    var todos = "<%= todos %>".split(",")
    $(function(){
      $(".option").click(function(){
        var date = new Date($(this).text());
        date = date.toISOString()

        var name = $("#name").text();
        $.post("/schedule", {summary: name, datetime: date} )
        .done(function(){
          if(todos.length <= 0) {
            $('body').text("Amazing! Done!");

            return;
          }
          $.post("/updateTodos", {todos: JSON.stringify(todos)});
          $("#name").text(todos.shift());
          $("#left").text(dgen());
          $("#right").text(dgen());
        })

      })

    })
  </script>
  <% } %>
</head>
</html>
