<html>
  <head>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://craig.global.ssl.fastly.net/js/mousetrap/mousetrap.min.js" charset="utf-8"></script>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <style media="screen">
      body{
        font-family: 'PT Sans', sans-serif;
        font-weight: 400;
        font-size: 2vw;
      }
      #container{
        display: flex;
        height: 100%;
      }


      .option{
        height: 100%;
        text-align: center;
        color: white;
        padding: 30px;
      }
      #name{
        position: absolute;
        padding: 30px;
        background: white;
        text-align: center;
        width: 300px;
        height: 100px;
        margin: auto;
        top: 0;
        bottom:0;
        left:0;
        right:0;
        border-radius: 5px;
        box-shadow: 8px 10px 3px -5px rgba(0,0,0,0.25);

      }

      #name{
        display:flex;
        justify-content: center;
        align-items: center;
      }

      #left{
        background: #e74c3c;
        flex:1;

      }
      #left:active{
        background: #d44c3c;
      }

      #right{
        background: #34495e;
        flex:1;
      }

      #right:active{
        background: #2c3e50;

      }


    </style>
    <title>
      Schedule your tasks
    </title>
  </head>
  <body>

    <div id="container">
      <% if(todos.length > 0) { %>
      <div id="name"><%= todos.shift()%> </div>
      <div class="option" id="left"><%=dgen()%></div>
      <div class="option" id="right"><%=dgen()%></div>
      <% } else { %>
        <a href="/todos">Back</a>
        <p> Add tasks first! </p>
      <% } %>
    </div>



  <!-- Load only if todos is greater than zero! -->
  <% if(todos.length > 0) { %>
  <script type="text/javascript">
    var dgen = <%= dgen %>
    var todos = "<%= todos %>".split(",")
    $(function(){
      $(".option").click(function(){
        var date = new Date($(this).text());
        date = date.toISOString()

        var name = $("#name").text();
        $.post("/schedule", {summary: name, datetime: date} )
        .done(function(){
          if(todos.length <= 0) {
            $('body').text("Amazing! Done!");

            return;
          }
          $.post("/updateTodos", {todos: JSON.stringify(todos)});
          $("#name").hide().text(todos.shift()).fadeIn(600);
          $("#left").text(dgen());
          $("#right").text(dgen());
        })

      })
    })
  </script>
  <% } %>

  <script type="text/javascript">
    Mousetrap.bind("left", function(){
      $("#left").click();
    })

    Mousetrap.bind("right", function(){
      $("#right").click();
    })
  </script>
</body>
</html>
